<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">FintechHub LTD</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
@*             <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Records
            </NavLink> *@
        </div>

        <div class="nav-item px-3">
@*             <NavLink class="nav-link" href="register">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Register
            </NavLink> *@
            <NavLink class="nav-link" href="customer">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Customer
            </NavLink>
            <NavLink class="nav-link" href="">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Account
            </NavLink>
            <NavLink class="nav-link" href="requestrework">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Request Rework
            </NavLink>
        </div>
    </nav>
</div>

